body{
font-size:16px;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}

@font-face {
    font-family: Supreme;
    src: url(../fonts/supreme.otf);
}
h1{
  font-family: Supreme, "Times New Roman", Times, serif;
  font-size: 4em;
}

.parallax { 
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner1 {
      /* The image used */
    background-image: url("../img/niagra.jpg");
}
.banner2 {
      /* The image used */
    background-image: url("../img/gCanyon.jpg");
}
.banner3 {
      /* The image used */
    background-image: url("../img/rMountains.jpg");
}

.flex {
  display: flex;
  height: 100vh;
}

.box{
  /* this is what is necessary */
  margin: auto;
}
.center {
  text-align: center;
}