body{
   min-width:100%;
    min-height:100%
   text-align:center;
   margin:0px;
   padding:0px;
    background-image:url(../images/bglarge.jpg);
    background-repeat: repeat;
}
.container {
  max-width:90%;
  background-color: #144E62;
  margin:0 auto;
}

header {
  background-color:#666666;
}
h1{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    color:#E68A2E;
}

h2{
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  color:#00FFFF;
}

p{
  font-family:"Times New Roman", Times, serif;
  color:#FFFFFF;
}

/*'inline class'*/

.inline {
  list-style:none;
  padding:0 auto;
}

.inline > li{
  display:inline;
  padding: 5px;
}

.inline a {
  text-decoration:none;
}

/*top nav*/
.top {
    padding-top:5px;
}
/*nav effects*/
nav a:hover {
  padding-top: 1px;
  border-bottom:3px solid #fff;
}
nav a:link{
   color:#009933;
}
nav a:visited{
   color:#FF3399;
}

/*Main Page*/

main{
  min-width:100%;
}

/*cover*/

.cover img{
  width: 100%;
  max-height:20%;
}

/*greeting*/

.greeting{
  min-width:100%;
}

.greeting{
   font-size:120%;
    padding-left:10px;
}

.greeting h1:first-letter{
   font-size:150%;
}

/*article*/
.article{
  display:inline-block;
  min-width: 30%;
  height:80%;
  float:left;
}

.article{
  display:inline-block;
  max-width: 35%;
  height:80%;
  float:left;
}

.article img {
  width:90;
  height:90;
  border-radius: 10% 30% 10%;
  padding-left:4%;
}

/*middle*/
.article ul{
  list-style-position:inside;
  text-align:center;
}
.article li {
   font-size:150%;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  color: #FFFFFF;
}

/*Right Column*/
.aside {
  display:inline-block;
  max-width:30%;
  height:80%;
  float:right;;
}

.aside li {
  list-style:none;
}
.aside img{
  max-width:85%;
}

/*Social*/

.social {
  clear:both;
  min-width:100%;
  display:block;
}
.social ul{
    text-align: center;
}

footer {
  width:100%;
  background-color:#E68A2E;
  padding-top:10px;
  padding-bottom:10px;
}

span {
  width:100%;
  color:#FFFFFF;
  text-align:right;
  display:block;
  padding-top:5px;
  background:#000000;
}
.contact{
   width:100%;
}
.contact img{
   max-width:50%;
}
.gallery{
   width:100%;
}
.photography{
  max-width:33%;
  text-align:center;
  display:inline-block;
  float:left;
}

.photography img{
   display:inline-block;
   margin:5px;
   max-width:90%;
}

.photographydesc {
  text-align:center;
  font-weight: normal;
}
.photographydesc p{
    color:#ffffff;
}
/*CSS Rules used when query matches*/
@media screen and (max-width:940px) and (min-width:600px){
    body{
        min-width: 100%;
    }
  .container{
    max-width: 90%;
    background-color:#A00000;
  }
  header{
     min-width:100%;
     background-color:#000000;
 }
nav{
    height:auto;
}
nav ul {
    width:100%;
    display:block;
    height:auto;
}
nav li{
    width:50%;
    float:left;
    position:relative;
}
nav li a {
    border-bottom:1px solid #576979;
    border-right:1px solid #576979;
}
nav a{
    text-align: left;
    width:100%;
    text-indent:10px;
}
  .cover{
     min-width:100%;
 }
 .greeting h1{
    color:#FFFF00;
}
 .article{
    float:left;
    min-width:40%;
    max-width:50%;
    min-height:50%;
}
.column{
   max-width:50%;
   min-height:50%;
   text-align:center;
}
.aside{
   display:block;
   min-width:100%;
   min-height:20%;
}
.aside ul{
   min-width:100%;
}
.aside li{
   text-align:center;
   display:inline;
}
.aside img{
   max-width:30%;
   min-height:100%;
}
.social{
   min-width:100%;
}
footer{
   background-color:#FFFF00;
}
span {
   background-color:#CC00CC;
}
.photography:{
   min-width:45%;
   max-width:50%;
}
}

@media screen and (max-width:320px) and (min-width:150px) {
     .container{
       background-color:#005200;
     }
      header{
         min-width:100%;
         background-color:#000000;
     }
     nav{
         border-bottom: 0;
     }
    nav ul {
        display: none;
        height: auto;
    }
    nav a#pull {
        display: block;
        background-color: #283744;
        width100;
        position:relative;
    }
    nav a#pull:after{
        content: "";
        background:url('../images/menu.png') no-repeat;
        width:25px;
        height:25px;
        display: inline-block;
        position: absolute;
        right:15px;
        top: 10px;
    }
     .greeting{
        min-width:100%;
     }
      .greeting h1{
         text-align:center;
         min-width:100%;
         color:#33CCFF;
     }
      .article{
          text-align: center;
         display:block;
         min-width:100%;
         max-height:20%;
         padding-left:18%;
         padding-right:10%;
     }
     .article img{
      max-width:70%;
     }
     .column{
        display:block;
        min-width:100%;
        text-align:center;
     }
     .aside{
        display:block;
        position:relative;
        min-width:100%;
        min-height:50%;
     }
     .aside img{
        min-width:90%;
        max-height:30%;
     }
     .social{
        min-width:100%;
     }
     footer{
        background-color:#996633;
     }
     .bottom a{
        color:#FFFFFF;
     }
     span{
        background-color:#33CCFF;
     }
}
