body{
  margin:0 auto;
  position:fixed;
  top:0;
  left:0;
}

.page {
  background-color: #144E62;
  min-width:100%;
}

header {
  margin:0 auto;
  background-color:#666666;
}

h1{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    color:#E68A2E;
}

h2{
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  color:#00FFFF;
}

p{
  font-family:"Times New Roman", Times, serif;
  color:#FFFFFF;
}

/*'inline class'*/

.inline {
  list-style:none;
  padding:0;
}

.inline > li{
  display:inline;
}

.inline a {
  text-decoration:none;
}

/*top nav*/

.nav{
   min-width:100%;
}
.nav a{
  float:left;
  color:#0099FF;
}
/*nav effect*/
nav a:hover {
  padding-top: 1px;
  border-top:3px solid #fff;
  border-bottom:3px solid #fff;
}

/*Main Page*/

main{
  min-width:100%;
}

/*cover*/

.cover img{
  width: 100%;
  height: 40%;
}

.greeting{
  width:75%;
}

/*content*/

/*article*/
.article{
  display:inline-block;
  min-width: 30%;
  height:80%;
  float:left;
}

.article img {
  width:90;
  height:90;
  border-radius: 10% 30% 10%;
  padding-left:4%;
}

/*Right Column*/

.aside {
  display:inline-block;
  max-width:30%;
  height:80%;
  float:right;;
}

.aside li {
  list-style:none;
}
.aside img{
  width:90%;
}

/*Social*/

.social {
  clear:both;
  width:100%;
  height:20%;
  display:block;
  text-align:center;
}

footer {
  width:100%;
  background-color:#E68A2E;
  padding-top:10px;
  padding-bottom:10px;
}

span {
  width:100%;
  color:#FFFFFF;
  text-align:right;
  display:block;
  padding-top:5px;
  background:#000000;
}
