body{
  min-width:100%;
  min-height:100%;
  text-align:left;
  margin:0px;
  padding:0px;
  background-color: tomato;
}
.container {
  max-width:90%;
  background-color: darkcyan;
  margin:0 auto;
}

header {
  background-color:#666666;
}
main{
  max-width: 90%;
}
.banner{
    min-width:100%;
}

h1{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    color:#E68A2E;
}

h2{
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  color:#00FFFF;
}

p{
  font-family:"Times New Roman", Times, serif;
  color:#FFFFFF;
}

/*'inline class'*/

.inline {
  list-style:none;
  padding:0 auto;
}

.inline > li{
  display:inline;
  padding: 5px;
}

.inline a {
  text-decoration:none;
}

/*top nav*/
.top {
    padding-top:5px;
}
/*nav effects*/
nav {
    float:left;
}
nav a:hover {
  padding-top: 1px;
  border-bottom:3px solid #fff;
}
nav a:link{
   color:crimson;
}
nav a:visited{
   color:Cornsilk;
}

/*greeting*/

.greeting{
  min-width:100%;
}

.greeting{
   font-size:120%;
    padding-left:10px;
}

.greeting h1:first-letter{
   font-size:150%;
}

.profile {
  max-width:80%;
  border-radius: 10% 30% 10%;
}

.brief ul{
    display: inline-block;
}
.brief li {
    text-decoration: none;
   font-size:150%;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  color: #FFFFFF;
}

/*Right Column*/
.aside {
  display:inline-block;
  max-width:100%;
  float:right;
}

.aside li {
  list-style:none;
}
.aside img{
  max-width:85%;
}

/*Social*/

.social {
  clear:both;
  min-width:100%;
  display:block;
}
.social ul{
    text-align: center;
}

footer {
  width:100%;
  background-color:#666666;
}
span {
    display: block;
  width:100%;
  color:#FFFFFF;
  text-align:right;
  display:block;
  padding-top:5px;
  background:#000000;
}



.contact{
   width:100%;
}
.contact a {
    color:burlywood;
}
.contact p{
    text-indent: 20px;
}
.know p{
    text-indent: 20px;
}
.know img{
   max-width:50%;
}
.gallery{
   width:100%;
}
.photography{
  max-width:33%;
  text-align:center;
  display:inline-block;
  float:left;
}

.photography img{
   display:inline-block;
   margin:5px;
   max-width:90%;
}

.photographydesc {
  text-align:center;
  font-weight: normal;
}
.photographydesc p{
    color:#ffffff;
}

@media screen (max-width:880px) {
    .bit-33{
        width:50%;
    }
    .profile{
        width:50%;
    }
    .aside li{
        display:inline-block;
    }
}
    
/*Media Queries*/

@media screen and (min-device-width : 320px) and (max-device-width : 480px){
.container{
    background-color:#00CCFF;
}
header {
  background-color:#000000;
}
.greeting{
    display:block;
    min-width: 100%;
    color:#CC9900
}
.article{
  display:block;
  max-width: 100%;
}

.article img {
  width:80%;
  border-radius: 10% 30% 10%;
}
.article ul{
  list-style-position:inside;
}
.article li {
   font-size:150%;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  color: #FFFFFF;
}

