.bodya{
  background-color:#616161;
}
.bodyb{
  background-color:#9E9E9E;
}
.bodyc{
  background-color:#F5F5F5;
}
nav{
  min-width: 100%;
  background-color: #333333;
  position: fixed;
  box-shadow: 0 4px 2px -2px black;

}
nav a{
  font-size: 1.2em;
}
.no-decoration{
  text-decoration:none;
}
.nav-left{
  padding-left: 3%;
  padding-top: 1%;
}
.nav-right{
  padding-right: 3%;
  padding-top: 1%;
}
.title{
  margin-left: 5%;
  font-size:4em;
}
.white{
  color: #F5F5F5;
}
.inline{
  display: inline-block;
}
.right{
  float: right;
}
.left {
  float: left;
}
.cover{
  max-height: 100%;
  max-width: 100%;
}
.no-bullets {
  list-style: none;
}
.square{
  max-width: 90%;
}
.logo{
  max-width: 60%;
  border-radius: 50%;
}
.sidebar-size{
  max-width: 80%;
  max-height: 50%;
}
.no-margin{
  margin:0 auto;
}
.margin-top{
  margin-top: 2%;
}
.margin-right{
  margin-right: 2%;
}
.margin-left{
  margin-left: 2%;
}
.center{
  text-align: center;
}
.description{
  font-size: 2em;
}
.sidebar{
  min-width: 100%;
}
.social{
  padding: 2%;
}
.about-para{
  font-size: 1.1em;
  text-indent: 5%;
}
.about-color{
  color: #F5F5F5;
}
.contact-para{
  color: #727272;
}