$inline: inline-block;
$wood: burlywood;
$blue: darkturquoise;
$no: none;

body {
    background-color: $blue;
}

nav {
	color: $wood;
}

.left{
	float:left;
}

.right{
	float: right;
}

nav ul{
	list-style: none;	
}

nav li {
	display: $inline;
}

.orbit-container{
	padding:none;
}

.profile {
	border-radius: 50%;
}

.list {
	list-style: none;
	text-align: center;
}

.list li {
	font-size:35px;
}

.sidebar{
	list-style:none;
	float: right;
}

.social {
	list-style:none;
}

.social li {
	display:inline;	
}

span{
	background-color:black;
	text-color:white;
}
