// $oil         : #333333;
// $monsoon     : #777777;
// $black   	: #212121;

.top-bar {
  overflow: hidden;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: #333333;
  -webkit-box-shadow: 0px 1px 5px #222222;
-moz-box-shadow: 0px 1px 5px #222222;
box-shadow: 0px 1px 5px #222222; }

// Body 1 Index and Design

.bodya{
	background-color:#616161;
	font-size:100%;
}

.indextitle{
	padding-bottom:4%;
}

.profile {
	text-align: center;
	margin: auto;
	border-radius: 50%;
}

.indexlist {
	font-size:1.75em;
	text-align:center;
	color: #F5F5F5;	
}

.sidebar{
	list-style:none;
	text-align:center;
}

.quote{
	text-align:center;
	color:#F5F5F5;
	font-family:"Times New Roman", Times, serif;
	padding-top:10%;
	padding-bottom:10%;
}

.designtitle {
	font-family: "Times New Roman", Times, serif;
	padding-bottom: 2%;
}

.designpara {
	font-family: Arial, Helvetica, sans-serif;
	color: #F5F5F5;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 5%;
}

// Body 2 About and Photography

.bodyb{
	background-color:#9E9E9E;
	font-size:100%;
}

.abouttitle {
	font-family: "Times New Roman", Times, serif;
	padding-bottom: 2%;
}

.aboutme {
	font-family: Arial, Helvetica, sans-serif;
	color: #F5F5F5;
	padding-bottom: 2%;
}

.aboutpara {
	font-family: Arial, Helvetica, sans-serif;
}

// Body 3 Contact and Websites

.bodyc{
	background-color:#F5F5F5;
	font-size:100%;
}
.bodyindex{
	background-color:black;
	font-size:100%;
}
.pc{
	color:#727272;
}

.contact-title{
	font-family: "Times New Roman", Times, serif;	
	padding-top: 8%;
	padding-bottom: 2%;
}

.contactme {
	font-family: Arial, Helvetica, sans-serif;
	color: #727272;
}

.contactsocial {
	padding-top: 10%;
}

// All Pages

h1{
	font-size:3em;
	color:$black;
}

.social{
	padding-top:5%;
	padding-bottom:5%;
}

p {
	color:#F5F5F5;
}


span{
	min-width:100%;
	color:#607D8B;
}

#instagram li{
	padding:2%;
	list-style-type:none;
}
#instagram2 li{
	padding:2%;
	list-style-type:none;
}

#instagram2 h3{
color:white;
}

#map {
  width: 500px;
  height: 400px;
  background-color: #CCC;
  margin: auto;
}

.section {
	font-family: Arial, Helvetica, sans-serif;
	color: blue;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 5%;
}