/* Styles */ 
@media (min-width: 1200px) {
  /* direct elements */
  body{
    font-family: "Times New Roman", Times, serif;
  }
  @font-face {
      font-family: Supreme;
      src: url(../fonts/supreme.otf);
  }
  h1{
    font-family: Supreme, "Times New Roman", Times, serif;
  }
  p{
    font-size: 2em;
  }
  a {
    color: #6CCFF6;
  }
  nav{
    box-shadow: 0 4px 2px -2px black;
    font-size: 1.2em;
  }



  /* color classes*/
  .white{
    color: #FFFFFF;
  }
  .black {
    background-color: black;
  }

  /* generic styling */
  .inline{
    display: inline-block;
  }
  .center{
    text-align: center;
  }

  /* flex box styling */
  .flex-full {
    display: flex;
    height: 100vh;
  }

  .flex-section {
    display: flex;
    height: 80vh;
  }
  .titlebox{
    width: 45vw;
  }
  .box{
    /* this is what is necessary */
    margin: auto;
  }

  /* scrolling background */
  .background {
    background-size: 100%;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  }
  /* background images */
  .home-bg{
    background-image: url(../images/bape.jpg);
  }
  .sf-bg{
    background-image: url(../images/sf.jpg);
  }
  .wall-bg{
    background-image: url(../images/wall.jpg);
  }
  .france-bg{
    background-image: url(../images/france.jpg);
  }
  .amsterdam-bg{
    background-image: url(../images/amsterdam.jpg);
  }
  /* home page title */
  .title{
    font-size:4em;
  }

  /* section text */
  .section-text {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: justify;
  }

  /* contact social media icons styling */
  .social{
    padding: 2%;
  }
}
